
<html lang="en" ng-app="PopQuizApp"> 
    <head>
        <title>Day 4 Excercises</title>
        
        <link rel="stylesheet" href="/bower_components/dist/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/bower_components/dist/bootstrap/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/css/main.css">

    </head>

    <body ng-controller="PopQuizCtrl as ctrl"> 
        <h1>Pop Quiz</h1> 
        
        <label>{{ctrl.question}}</label>

        <form>
                <input type="radio" name="options"><label for="option1"> {{ctrl.option1}}</label><br>
                <input type="radio" name="options"><label for="option2"> {{ctrl.option2}}</label><br>
                <input type="radio" name="options"><label for="option3"> {{ctrl.option3}}</label><br>
                <input type="radio" name="options"><label for="option4"> {{ctrl.option4}}</label><br><br>

                <textarea name="message" rows="10" cols="60"></textarea><br><br>
            
            <input type="submit"> 

        </form>

        
    </body>
 
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>   
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>   
    <script src="/bower_components/angular/angular.min.js"></script>   
    <script src="js/app.js"></script>  

</html>